name: Deploy Docker App to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t syedmawahid/crop-disease-doctor:latest .

      - name: Push Docker image
        run: |
          docker push syedmawahid/crop-disease-doctor:latest

      - name: Deploy on EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo docker pull syedmawahid/crop-disease-doctor:latest
            sudo docker stop crop-api || true
            sudo docker rm crop-api || true
            sudo docker run -d \
              --name crop-api \
              -p 8000:8000 \
              --restart unless-stopped \
              syedmawahid/crop-disease-doctor:latest
